<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expense_manager112">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Expense manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expense_manager112">
        <activity
            android:name=".MainItro"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Income_Report" />
        <activity android:name=".Expense_Report" />
        <activity android:name=".Report" />
        <activity android:name=".Income" />
        <activity android:name=".Expense" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Splashscreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>


    </application>


</manifest>